<div class="formContainer">
    <!-- <div class="col">
      <input type="text" class="form-control" placeholder="ID"  [(ngModel)]="event._id">
    </div> -->
    <div class="col">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="event.title">
    </div>
    <div class="col">
        <!-- <input type="text" class="form-control" placeholder="Date" [(ngModel)]="event.eventDate"> -->
      <p-calendar [(ngModel)]="value" view="month" dateFormat="mm-yy-dd" [(ngModel)]="event.eventDate"></p-calendar>

      </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="main speaker" [(ngModel)]="event.main_speaker">
    </div>
    <div class="col">
    <input type="text" class="form-control" placeholder="Speakers" [(ngModel)]="event.speakers">
    </div>
    <div class="col">
      <select class="form-select" [(ngModel)]="event.students">
        <option [value]="item._id" *ngFor="let item of students">{{item.fullName}}</option>
      </select>

        <!-- <input type="text" class="form-control" placeholder="students" [(ngModel)]="event.students"> -->
    </div>
    <div class="col">
        <button (click)="save()" class="btn listBtn" style="background-color: lightgreen;">Save Edditing</button>
    </div>

  </div>
