<!-- <button (click)="load()" class="btn btn-primary">Load Events</button> -->
<div class="btnContainer">
  <a class="btn addButton" [routerLink]="['/events','add']" >
    Add New Event
  </a>
</div>
<br>

<table class="table tableCss table-striped" *ngIf="events.length > 0" #t1>
    <thead class="bg-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Main Speaker</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of events">
        <td>{{item._id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.eventDate}}</td>
        <td>{{item.main_speaker}}</td>
        <td>
          <button (click)="eventDeletId=item._id" class="btn listBtn" style="background-color: pink;">Delete</button> 
          <a [routerLink]="['/events','details',item._id]"  class="btn listBtn" style="background-color:lightBlue;">Details</a>
          <a [routerLink]="['/events','edit',item._id] "  class="btn listBtn" style="background-color: lightgreen;">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  
<app-events-delete [eventId]="eventDeletId" *ngIf="events.length > 0"></app-events-delete>
  
