<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']" >Home</a>
      <a class="navbar-brand"[routerLink]="['/events']">Events</a>
      <a class="navbar-brand" href="#">Contact</a>
      <a class="navbar-brand" href="#">login</a>
      <a class="navbar-brand" href="#">Regester</a>
    </div>
  </nav> -->



  <nav>
    <div class="navBar">
      <a class="navbar-brand navCont" [routerLink]="['/home']" >Home</a>
      <a class="navbar-brand navCont"[routerLink]="['/events']">Events</a>
      <a class="navbar-brand navCont" href="#">Contact</a>
      <a class="navbar-brand navCont" [routerLink]="['/login']">login</a>
      <a class="navbar-brand navCont" href="#">Regester</a>
    </div>
  </nav>