
  <div class="card bg-light" style="text-align:center; margin-top:70px; height: 78.7vh">
    <div class="card-header">Event Details </div>
    <div class="card-body">
      <h3 class="card-title">Title: {{event?.title}}</h3>
      <h4>Date:</h4> <p class="card-text"> {{event?.eventDate}}</p>
      <!-- <h4>Main Speaker :</h4><p class="card-text"> {{event?.main_speaker}}</p> -->
      <h4>Speakers :</h4><p class="card-text"> {{event?.speakers}}</p>
        <h4>Students</h4>
        <h5 *ngFor="let item of student">
          <p  *ngIf="item._id==event.students">
            {{item.Email}}
          </p>
        </h5>
        <h4>Main Speaker</h4>
        <h5 *ngFor="let item of speaker">
          <p  *ngIf="item._id==event.main_speaker">
            {{item.Email}}
          </p>
        </h5>
  </div>