
<div  class="formContainer">
    <input type="text" [(ngModel)]="speaker.fullName" placeholder="Full Name"  #name="ngModel" class="form-control"  required minlength="4">
    <div *ngIf="name.errors?.['required']" style="color:red">
        Name is required.
    </div>

    <div *ngIf="name.errors?.['minlength']" style="color:red">
        Name must be at least 4 characters long.
    </div>
    <input type="text" [(ngModel)]="speaker.Email" placeholder="Email"  #email="ngModel" class="form-control"  required >
    <div *ngIf="email.errors?.['required']" style="color:red">
        Email is required.
    </div>

    <input type="file" (input)="onFileChange($event)" >

    <input type="text" [(ngModel)]="speaker.password" placeholder="password" #password="ngModel" class="form-control"  required >
    <div *ngIf="password.errors?.['required']" style="color:red">
        password is required.
    </div>
    <input type="text" [(ngModel)]="speaker.Address" placeholder="Address" #Address="ngModel" class="form-control"  required >
    <div *ngIf="Address.errors?.['required']" style="color:red">
        Address is required.
    </div>

    <input type="text" [(ngModel)]="speaker.role" placeholder="role"  #role="ngModel" class="form-control"  required >
    <div *ngIf="role.errors?.['required']" style="color:red">
        role is required.
    </div>
    
    <button (click)="save()" [disabled]="name.errors || password.errors || email.errors || Address.errors || role.errors">save</button>

</div>
